---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import themesData from "../../data/theme.json";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export function getStaticPaths() {

	const paths = themesData.map((data) => ({
		params: {
			theme: data.id,
		},
		props: {
			themeData: data,
		}
	}));
	return paths;

}

const { themeData } = Astro.props;

---
<Layout title={`${t('head.team')} - ${themeData.title}`}>
	<main>
		<Navbar></Navbar>
		<Hero 
			imageUrl={themeData.image}
			title={themeData.title}
			message={themeData.message}
			buttonLabel={t('index.heroActionLabel')}>
		</Hero>
	</main>
</Layout>