.navbar {
  display: flex;
  align-items: center;
  width: 100%; 
   border-bottom: 1px solid #A0A69E;
}

.navbar-brand {
  text-decoration-line: none;
  display: flex;
  text-align: center;
  list-style: none;
}

.navbar-brand h1 {
  color: #000;
  font-family: "Koh Santepheap";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  list-style: none;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.nav-link:hover {
  color: #ffffff;
  background-color: #000;
}


.link {
  list-style: none;
  text-decoration: none;
  line-height: 1.4;
  padding: calc(1rem - 1px);
}
.link img{
  width: 48px;
  height: 48px;
  margin: 4px;
}
.link a{
  font-size: 18px;
  font-family: "Inter";
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.link:hover,
.link:focus-within {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.link:focus-within li {
  color: var(--accent-light);
}
#mobile-menu-btn {
display: none;
}
.mobile-menu {
color: white;
display: none;
position: absolute;
right: 0;
height: 60vh;
width: 70vw;

}

@media screen and (max-width: 600px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }
 
  .navbar-ul {
    margin-top: 10px;
  }
  .navbar-ul{
    display: none;
  }
  .mobile-menu-btn {
  display:block;
}
  .mobile-menu {
  display:none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
}
