
    h2 {
      margin: 0;
      font-size: 1.25rem;
      transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);

    }
    .navbar-icons {
      background-size: 400%;
      line-height: 1.6;
      align-items: center;
      font-weight: bold;
      
    }
    
    .navbar-toggler {
      border: none;
      background-color: transparent;
    }
    
    .navbar-nav .nav-link {
      font-size: 18px;
      margin-right: 10px;
    }
    
    .navbar-nav .nav-link:hover {
      color: #ffffff;
    }
    .navbar-nav .nav-item .fas {
      font-size: 20px;
      margin-right: 10px;
    }
    
    .navbar-nav .nav-item span.navbar-text {
      margin-right: 0;
    }