---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('head.contact')}>
	<main>
		<Navbar></Navbar>
	</main>
</Layout>