---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';

import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { AppImages } from '../common/appImages';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('head.dawnferEvents')}>
	<main>
		<Navbar></Navbar>
		<Hero 
			imageUrl={AppImages.marriedDecoration}
			title={t('index.heroTitle')}
			message={t('index.heroMessage')}
			buttonLabel={t('index.heroActionLabel')}>
		</Hero>
	</main>
</Layout>