---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import AppStrings from '../common/AppStrings.ts'
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar></Navbar>
		<Hero 
			imageUrl="/src/img/married.jpeg"
			title="Tu felicidad, nuestro compromiso"
			message="Transformamos tus momentos especiales en experiencias inolvidables. Descubre la magia de celebrar con nosotros y disfruta en nuestro exclusivo alojamiento estilo Airbnb. Donde cada detalle cuenta, creamos recuerdos que perduran."
			buttonLabel="LET'S CONNECT">
		</Hero>
	</main>
</Layout>
