---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ThemeCard from "../components/theme_card/ThemeCard.astro";
import Hero from "../components/Hero.astro";

import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { AppImages } from '../common/appImages';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('head.team')}>
	<main>
		<Navbar></Navbar>
		<Hero 
			title="Party Themes"
			imageUrl=""
			message=""
			buttonLabel='Contact us'>
		</Hero>
		<div class="theme-grid">
			<ThemeCard 
				href="/dawnfer_web_page/themes/halloween"
				image="https://www.thespruce.com/thmb/iE2tQoa9VLI6iCbdUkSSDiyKdt4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/SPR-Kid-Friendly-Halloween-Parties-3129138-hero-cc3f49887bc84afa99c5d2fdb391723e.jpg"
				title="Halloween party">
			</ThemeCard>
			<ThemeCard 
				href="/dawnfer_web_page/themes/christmas"
				image="https://factory51.com.au/wp-content/uploads/2022/08/2382-whole-venue-room-e1566393673611-1024x682-1.jpg"
				title="Christmas party">
			</ThemeCard>
			<ThemeCard 
				href="/dawnfer_web_page/themes/summer"
				image="https://cf.ltkcdn.net/celebrations/parties/images/orig/339572-1600x1066-summer-party-1222166992.jpg"
				title="Summer party">
			</ThemeCard>
			<ThemeCard 
				href="/dawnfer_web_page/themes/winter"
				image="https://img.bizbash.com/files/base/bizbash/bzb/image/2013/01/e18436image1.png?auto=format%2Ccompress&fit=max&q=70&w=1200"
				title="Winter party">
			</ThemeCard>
			<ThemeCard 
				href="/dawnfer_web_page/themes/autumn"
				image="https://www.paperlesspost.com/blog/wp-content/uploads/Blog00_FallParty_PeopleToastInField.png"
				title="Autumn party">
			</ThemeCard>
			<ThemeCard 
				href="/dawnfer_web_page/themes/spring"
				image="https://www.thespruce.com/thmb/HrM5hDhWbnJhfkLquiSuypKamog=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/spring-party-theme-ideas-4137747-03-ee802255ccce40e8b6049bb946f91b59.jpg"
				title="Spring party">
			</ThemeCard>
		</div>
	</main>
</Layout>

<style>
	.theme-grid {
		display: grid;
  		padding: 10px;
		align-items: center;
  		grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  		grid-gap: 1rem;
  		grid-auto-flow: dense;
	}
</style>