---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar">
  <div class="navbar-content">
    <ul class="navbar-icons">
      <a href="https://www.facebook.com/profile.php?id=100066646968818&mibextid=vk8aRt" class="link" >
        <img  src="/src/img/icons/Light_FacebookLogo.svg" alt="Facebook">
      </a>
      <a href="https://instagram.com/dawnfer_eventos_tunja?igshid=MzMyNGUyNmU2YQ=="class="link">
        <img  src="/src/img/icons/Light_InstagramLogo.svg" alt="Instagram">
      </a>
    </ul>
    
    <ul class="navbar-ul">
    </ul>
    
    <a class="navbar-brand" href="/dawnfer_web_page/"><h1>{t('brand.name')}</h1></a>
    
    <ul class="navbar-ul">
      <li class="link">
        <a href="/dawnfer_web_page">{t('nav.home')}</a>
      </li>
      <li class="link">
        <a href="/dawnfer_web_page/themes">{t('nav.themes')}</a>
      </li>
      <li class="link">
        <a  href="/dawnfer_web_page/aboutus">{t('nav.about')}</a>
      </li> 
      <li class="link">
        <a  href="/dawnfer_web_page/gallery">{t('nav.gallery')}</a>
      </li>
      <li class="link">
        <a href="/dawnfer_web_page/contact">{t('nav.contact')}</a>
      </li>
    </ul>
  </div>
</nav>

<style  >
  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    text-decoration-line: none;
    display: flex;
    text-align: center;
    list-style: none;
  }
  
  .navbar-brand h1 {
    color: #000;
    font-family: "Koh Santepheap";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    list-style: none;
  }
  
  .navbar-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  .nav-link:hover {
    color: #ffffff;
    background-color: #000;
  }
  
  
  .link {
    list-style: none;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1rem - 1px);
  }
  .link img{
    width: 48px;
    height: 48px;
    margin: 4px;
  }
  .link a{
    font-size: 18px;
    font-family: "Inter";
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  .link:hover,
  .link:focus-within {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .link:focus-within li {
    color: var(--accent-light);
  }
  
  @media screen and (max-width: 768px) {
    .navbar-content {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navbar-ul {
      margin-top: 10px;
    }
  }
  
  
</style>